In [1]:
import pandas as pd
import numpy as np

In [2]:
Latin_companies = pd.read_excel('2.16 S&P Latin America companies.xlsx')

In [3]:
Latin_companies.head()

,SP_ENTITY_NAME,SP_ENTITY_ID,SP_GEOGRAPHY,SP_COMPANY_STATUS,SP_ISIN,SP_TICKER,SP_EXCHANGE
0,"1127 Capital, Ltd.",6712274,Latin America and Caribbean,Operating,VGG8399X1107,NaN,NaN
1,138 Student Living Jamaica Limited (JMSE:138SL),4863310,Latin America and Caribbean,Operating,JME201400061,138SL,JMSE
2,3R Petroleum Óleo e Gás S.A. (BOVESPA:RRRP3),7163456,Latin America and Caribbean,Operating,BRRRRPACNOR5,RRRP3,BOVESPA
3,Abderus Fund - Global Universal Invest,6010769,Latin America and Caribbean,Operating,LU0396594094,039659409,NaN
4,Aberdeen Asset Management - India Opportunitie...,6716414,Latin America and Caribbean,Operating,SG9999001663,6741574,NaN

In [4]:
np.sum(Latin_companies.isnull(), axis = 0)

SP_ENTITY_NAME         0
SP_ENTITY_ID           0
SP_GEOGRAPHY           1
SP_COMPANY_STATUS      0
SP_ISIN                0
SP_TICKER            163
SP_EXCHANGE          507
dtype: int64

In [5]:
Latin_companies = Latin_companies[Latin_companies['SP_EXCHANGE'].notnull()]
Latin_companies = Latin_companies[Latin_companies['SP_GEOGRAPHY'].notnull()]
np.sum(Latin_companies.isnull(), axis = 0)

SP_ENTITY_NAME       0
SP_ENTITY_ID         0
SP_GEOGRAPHY         0
SP_COMPANY_STATUS    0
SP_ISIN              0
SP_TICKER            0
SP_EXCHANGE          0
dtype: int64

In [6]:
isin_list = Latin_companies['SP_ISIN'].to_list()

In [7]:
print(len(isin_list))
isin_list[:5]

1918

['JME201400061',
 'BRRRRPACNOR5',
 'MXP000171316',
 'JMP004681012',
 'KYG0073G1091']

In [8]:
with open('temp.txt', 'w') as file:
  for i in isin_list:
    file.write(str(i) + '\n')